{{/* This file intentionally left blank.
   * Put your custom head template for analytics, etc. into your site's
   * (not the theme's) layouts/partials/head/custom.html
   */}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FFJEW2QLE4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FFJEW2QLE4');
</script>
