{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" .Site.Params.enableSourceMaps) }}
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<link rel="icon" type="image/x-icon" href="https://themindspace.org/favicon.ico"/>
<link rel="apple-touch-icon" href="https://themindspace.org/apple-touch-icon.png"/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<link rel="alternate" type="application/rss+xml" href="{{ relLangURL "posts/index.xml" }}" title="{{ .Site.Title }}"/>
{{ if .Params.no_index }}
<meta name="robots" content="noindex">
{{ end }}
{{- partial "analytics/google-tag-manager/head.html" . -}}
{{- partial "head/custom.html" . -}}
