{{ define "main" }}
    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Description -}}
            <p>{{ . }}</p>
        {{- end }}
    </header>

    {{- if .Params.image }}
        <span class="image featured"><img src="{{ .Params.image | relURL }}" alt="{{ .Params.image_alt }}" /></span>
    {{ end }}

    {{ range .RegularPages }}
        {{ .Render "shortblock" }}
    {{ end }}

{{ end }}
