<section class="col-6 col-12-narrower">
    <div class="box post">
    {{ if .Params.image }}
        {{- $image := resources.GetMatch .Params.image -}}
            <a href="{{ .RelPermalink }}" class="image left"><img src="{{ ($image.Fit "250x250 q95 Center").RelPermalink }}" alt="{{ .Params.image_alt }}"/></a>
    {{ end }}
        <div class="inner">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ if .Site.Params.show_post_dates | default true }}
                {{- with .Date }}<time>{{ .Format "Jan 2, 2006" }}</time>{{ end }}
            {{ end }}
            <p>
                {{ with .Description }}
                    {{- . }}
                {{- else }}
                    {{- .Summary }}
                {{- end }}
            </p>
        </div>
    </div>
</section>
