{{ define "main" }}
    <header>
        {{ if eq .Title "Contact" }}
        <h1>{{ .Title }} <i class="fas fa-mail-bulk" style="color: #2b2b2b;"></i> </h1>
        {{ else }}
        <h1>{{ .Title }}</h1>
        {{ end }}
        <p>{{ .Description }}</p>
        {{ if .Site.Params.show_post_dates | default true }}
            {{- with .Date }}<time>{{ .Format "Jan 2, 2006" }}</time>{{ end }}
        {{ end }}
        {{ partial "tags.html" . }}
    </header>
    
{{ with resources.GetMatch .Params.image }}
    {{ if gt .Width 500 }}
    {{ $image := .Resize "500x q90" }}
        <span class="image featured"><img src="{{ $image.RelPermalink }}"></span>
    {{ else }}
        <span class="image featured"><img src="{{ .RelPermalink }}"></span>
    {{ end }}
{{ end }}

    {{- .Content }}
{{ end }}


