<div id="footer">
    <div class="container">
        <div class="row">
            {{- if gt (len .Site.Params.footer.links) 0 }}
                {{- $link_cols := div (cond .Site.Params.footer.contact_form.enabled 6 12) (len .Site.Params.footer.links) }}
                {{- range .Site.Params.footer.links }}
                <section class="col-{{ $link_cols }} col-6-narrower col-12-mobilep">
                    <h3>{{ .header }}</h3>
                    <ul class="links">
                        {{- range .links }}
                            <li><a href="{{ .url }}">{{ .title }}</a>
                        {{- end }}
                    </ul>
                </section>
                {{- end }}
            {{ end }}

            {{- if .Site.Params.footer.contact_form.enabled }}
                {{- partial "footer/contact.html" .Site.Params.footer.contact_form }}
            {{- end }}
        </div>
    </div>

    <ul class="icons">
    {{- range .Site.Params.social }}
    <li><a href="{{ .url }}" class="{{ if .icon }}icon brands {{ .icon  }}{{ end }}">
            <span class="label">{{ .title }}</span>
        </a>
    {{- end }}
    <li><a href="{{ relLangURL "posts/index.xml" }}" class="icon solid fa-rss">
            <span class="label">RSS</span>
        </a>
    </ul>

    <div class="copyright">
        <ul class="menu">
            {{ if .Site.Copyright }}
                <li>{{ replace .Site.Copyright "{currentYear}" now.Year }}
            {{ end }}
            {{- if .Site.Params.attribution | default true }}
                <li>Design: <a href="https://html5up.net">HTML5 UP</a>
                <li><a href="https://github.com/half-duplex/hugo-arcana">Theme</a>
            {{- end }}
        </ul>
    </div>
        <!-- Professional verification provided by Psychology Today -->
<center>
<a href="https://www.psychologytoday.com/profile/1036182" class="sx-verified-seal"></a>
<script defer type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="18" data-id="1036182" data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s="></script>
<!-- End Verification -->
</center>
</div>
