// Misc.
    $misc: (
        z-index-base:   10000
    );

// Duration.
    $duration: (
        navPanel: 0.5s
    );

// Size.
    $size: (
        navPanel: 275px,
        radius: 5px
    );

// Font.
    $font: (
    );

// Palette.
    $palette: (
        bg: #e2eadd,
        fg: #474747,
        fg-bold: #4c4c4c,
        fg-light: #999,
        border: #427069,

        accent: (
            bg: #F8A79D,
            fg: #fff,
            alt: #427069,
        )
    );
