<!DOCTYPE HTML>
<html lang="{{ .Language }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- template "_internal/opengraph.html" . -}}
    </head>
    <body class="is-preload">
        {{- partial "analytics/google-tag-manager/body.html" . }}
        <div id="page-wrapper">
            {{- partial "header.html" . }}

            {{- if .Params.banner.enable }}
                {{- partial "homepage/banner.html" .Params.banner -}}
            {{- end }}

            {{- range .Params.items }}
                {{- partial (printf "homepage/blocks/%s.html" .type) (dict "ctx" $ "item" .) }}
            {{- end }}

            {{- partial "footer/footer.html" . -}}
        </div>
        {{- partial "scripts.html" . -}}
    </body>
</html>
